.command {
  background-color: rgb(240, 240, 250);
  padding-top: 94px;
  padding-bottom: 94px;
  &__item {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__card {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--primary-bg-color);
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.185;
    text-align: center;
    margin-bottom: 10px;
  }
  &__text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.185;
    text-decoration: none;
    text-align: center;
    margin-bottom: 16px;
  }
}
.command-social {
  &__list {
    display: flex;
    justify-content: center;
    fill: var(--fill-clients-color);
  }
  &__item {
    width: 44px;
    height: 44px;
    align-items: center;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      .command-social__icon {
        fill: var(--text-color);
      }
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    fill: var(--fill-clients-color);
  }
}
