.nav {
  &__logo {
    color: var(--title-text-color);
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-right: 93px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 2px 2px 2px 2px var(--accent-shadow-color);
    }
  }
  &__list {
    display: flex;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  &__link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
  &__icon {
    fill: var(--secondary-text-color);
    margin-right: 10px;
  }
  &__link-contact {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
      .nav__icon {
        fill: var(--accent-color);
      }
    }
  }
  &__link-current {
    color: var(--accent-color);
    text-decoration: none;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    &:after {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      background-color: var(--accent-color);
    }
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__item-contact:not(:last-child) {
    margin-right: 50px;
  }
}
