:root {
  --primary-text-color: #212121;
  --title-text-color: #000000;
  --text-color: #ffffff;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --works-bg-color: rgba(47, 48, 58, 0.8);
  --footer-bg-color: #2f303a;
  --fill-clients-color: #afb1b8;
  --accent-shadow-color: rgba(33, 150, 243, 0.02);
  --modal-color: rgba(33, 33, 33, 0.2);
}
